@page "/register"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject CyberQuiz.Services.AuthService AuthService
@using System.ComponentModel.DataAnnotations

<PageTitle>Registrera dig</PageTitle>

<div class="row">
    <div class="col-md-4">

        <h2>Registrera dig</h2>

        @if (errorMessage != null)
        {
            <p class="text-danger">@errorMessage</p>
        }

        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="name@example.com"
                   @bind="email" />
            <label>Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="password"
                   @bind="password" />
            <label>Lösenord</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="password"
                   @bind="confirmPassword" />
            <label>Bekräfta lösenord</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" @onclick="RegisterUser">Registrera</button>

        <hr />
        <p>Har du redan ett konto? <a href="/login">Logga in här</a></p>

    </div>
</div>

@code {
    // Vad användaren skriver in
    private string email = "";
    private string password = "";
    private string confirmPassword = "";

    // Felmeddelande om registrering misslyckas
    private string? errorMessage;

    // Blir sant om registreringen lyckades- får ett meddelande då. 
    private bool registrationSucceded = false;

    private async Task RegisterUser()
    {
        errorMessage = null;

        // Kolla att lösenorden matchar innan vi skickar till API
        if (password != confirmPassword)
        {
            errorMessage = "Lösenorden matchar inte.";
            return;
        }

        // Skickar email + lösenord till AuthService
        // AuthService skickar det vidare till API och tar emot eventuellt felmeddelande
        var (success, error) = await AuthService.RegisterAsync(email, password, confirmPassword);

        if (success)
        {
            // Registrering lyckades — logga ut användaren och gå till loginsidan
            registrationSucceded = true;
            AuthService.Logout();
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            //Visa ev felmeddelande eller default "Något gick..."
            errorMessage = error ?? "Något gick fel. Kontrollera att lösenordet är minst 6 tecken.";
        }
    }
}
